In [1]:
### Import Section
import pandas as pd

In [2]:
### Local Variables
datasetPath = './dataset/owid-covid-data.csv'

In [3]:
### Load dataset
df=pd.read_csv(datasetPath)

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [5]:
print(df['date'].max(),df['date'].min())

2020-10-06 2019-12-31

In [6]:
df['total_cases'] = df['total_cases'].fillna(0)

In [7]:
dfToPivot = df[['location','date','total_cases']]

In [8]:
dfToPivot

            location        date  total_cases
0              Aruba  2020-03-13          2.0
1              Aruba  2020-03-19          0.0
2              Aruba  2020-03-20          4.0
3              Aruba  2020-03-21          0.0
4              Aruba  2020-03-22          0.0
...              ...         ...          ...
48375  International  2020-10-02        696.0
48376  International  2020-10-03        696.0
48377  International  2020-10-04        696.0
48378  International  2020-10-05        696.0
48379  International  2020-10-06        696.0

[48380 rows x 3 columns]

In [9]:
dfPivot = dfToPivot.pivot(index='date', columns='location', values='total_cases')

In [10]:
dfPivot

location,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Western Sahara,World,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2019-12-31,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,27.0,NaN,NaN,NaN
2020-01-01,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,27.0,NaN,NaN,NaN
2020-01-02,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,27.0,NaN,NaN,NaN
2020-01-03,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,44.0,NaN,NaN,NaN
2020-01-04,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,44.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-02,39285.0,13806.0,51690.0,2050.0,4972.0,3.0,106.0,764989.0,50850.0,3998.0,...,2061.0,57454.0,12.0,76029.0,1095.0,766.0,34370113.0,2038.0,14802.0,7850.0
2020-10-03,39290.0,13965.0,51847.0,2110.0,5114.0,3.0,106.0,779676.0,51382.0,4038.0,...,2097.0,57776.0,12.0,76820.0,1096.0,766.0,34687237.0,2043.0,14830.0,7858.0
2020-10-04,39297.0,14117.0,51995.0,2110.0,5211.0,3.0,107.0,790805.0,51925.0,4074.0,...,2122.0,58421.0,12.0,76820.0,1096.0,766.0,34990354.0,2044.0,14974.0,7885.0
2020-10-05,39341.0,14266.0,52136.0,2110.0,5370.0,3.0,107.0,798473.0,52496.0,4079.0,...,2145.0,58859.0,12.0,78434.0,1096.0,766.0,35272552.0,2045.0,15052.0,7885.0
2020-10-06,39486.0,14410.0,52270.0,2370.0,5370.0,3.0,107.0,809715.0,52677.0,4079.0,...,2155.0,58946.0,12.0,79117.0,1097.0,766.0,35523518.0,2045.0,15089.0,7898.0

In [14]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(4, 2.5), dpi=144)
colors = plt.cm.Dark2(range(6))
y = s.index
width = s.values
ax.barh(y=y, width=width, color=colors);

ModuleNotFoundError: No module named 'matplotlib'